<!DOCTYPE html>

<html>
	<head>
		<title>Welcome !</title>
	</head>

	<body>
		<br>
		<h1>Profile Management</h1>
		<br>
		<hr>
		
		<form name="loginform" action = "/profilemanagement/login" method = "post">
			<table>
				<tr>
					<td>User Name : </td>
					<td><input type = "text" name = "username"></td>
				</tr>
				<tr>
					<td>Password : </td>
					<td><input type = "text" name = "password"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type = "submit" value = "Login"></td>
				</tr>
			</table>
		</form>
	</body>
</html>