<!DOCTYPE html>

<html>
	<head>
		<title>Register !</title>
	</head>

	<body>
		<br>
		<h1>Registration</h1>
		<br>
		<hr>
		
		<form name="registrationform" action = "/profilemanagement/registration" method = "post">
			<table>
				<tr>
					<td>First Name : </td>
					<td><input type = "text" name = "firstname"></td>
				</tr>
				<tr>
					<td>Middle Name : </td>
					<td><input type = "text" name = "middlename"></td>
				</tr>
				<tr>
					<td>Last Name : </td>
					<td><input type = "text" name = "lastname"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type = "submit" value = "Register"></td>
				</tr>
			</table>
		</form>
	</body>
</html>